/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: 'digital-7', sans-serif;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body h1 {
  font-size: 24px;
  text-align: center;
}

main.clock-display {
  display: inline-block;
	text-align: center;
  padding: 15px;
  border: solid 5px #ffffff;
  margin: 60px auto 0 auto;
}
/*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
.light-on {
	color: #ffffff !important;
}

/* DAYS OF THE WEEK */
.days {
	margin: 0 auto;
	color: #131212;
}
.days .day {
	display: inline-block;
}
.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}


/* CLOCK */
.clock {
	margin: 5px 0;
  display: flex;
}
.clock div {
	display: inline-block;
	position: relative;
}
.clock div p {
	font-size: 100px;
	position: relative;
	z-index: 100;
}
.clock .numbers .placeholder {
	color: #131212;
	position: absolute;
	top: 0;
	z-index: 50;
}
.clock .numbers .type {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
.clock .am-pm {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}
.clock .am-pm div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}
.clock .am,
.clock .pm {
	color: #131212;
}

@media (max-width:768px) {
  main.clock-display {
    padding: 15px 30px;
  }
  .desktop-view {
    display: none;
  }
}

@media (max-width:550px) {
  .clock div p {
  	font-size: 80px;
  }
}

@media (max-width:468px) {
  .clock div p {
  	font-size: 60px;
  }
}

@media (max-width:400px) {
  .days .day p,
  .clock .am-pm div p {
    font-size: 10px;
  }
  .clock div p {
  	font-size: 50px;
  }
}

@media (max-width:350px) {
  .clock div p {
  	font-size: 43px;
  }
}

@media (max-width:320px) {
  .clock div p {
  	font-size: 40px;
  }
}
