/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
  background-color: #306575;
	font-family: 'digital-7', sans-serif;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body h1 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-bottom: 15px;
}

main.clock-display {
  display: inline-block;
	text-align: center;
  padding: 15px 30px;
  border: solid 5px #ffffff;
  margin: 60px auto 0 auto;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 4px 4px 7px 4px rgba(0,0,0,.3);
}
/*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
.light-on {
	color: #ffffff !important;
}

/* DAYS OF THE WEEK */
.days {
	margin: 0 auto;
	color: #2b2828;
}
.days .day {
	display: inline-block;
}
.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

/* DATE */
.date-field {
	margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.date-field div {
	display: inline-block;
	position: relative;
}
.date-field div p {
	font-size: 34px;
	position: relative;
	z-index: 100;
}
.date-field div p.placeholder {
	color: #2b2828;
	position: absolute;
	top: 0;
	z-index: 50;
}

/* CLOCK */
.clock-field {
	margin: 5px 0;
  display: flex;
  justify-content: center;
}
.clock-field div {
	display: inline-block;
	position: relative;
}
.clock-field div p {
	font-size: 100px;
	position: relative;
	z-index: 100;
}
.clock-field .numbers .placeholder {
	color: #2b2828;
	position: absolute;
	top: 0;
	z-index: 50;
}
.clock-field .numbers .type {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}
.clock-field .am-pm {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}
.clock-field .am-pm div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.clock-field .am,
.clock-field .pm {
	color: #2b2828;
}

@media (max-width:768px) {
  main.clock-display {
    padding: 15px 30px;
  }
  .desktop-view {
    display: none;
  }
}

@media (max-width:550px) {
  .date-field div p {
    font-size: 30px;
  }
  .clock-field div p {
  	font-size: 80px;
  }
}

@media (max-width:468px) {
  .date-field div p {
    font-size: 24px;
  }
  .clock-field div p {
  	font-size: 60px;
  }
}

@media (max-width:400px) {
  .date-field div p {
    font-size: 20px;
  }
  .days .day p,
  .clock-field .am-pm div p {
    font-size: 10px;
  }
  .clock-field div p {
  	font-size: 50px;
  }
}

@media (max-width:350px) {
  .date-field div p {
    font-size: 20px;
  }
  .clock-field div p {
  	font-size: 43px;
  }
}

@media (max-width:320px) {
  .date-field div p {}
  .clock-field div p {
  	font-size: 40px;
  }
}
